<%- include('./partials/header.ejs') -%>


<div class="container">
        <div class="jumbotron">
<%- include('./partials/content.ejs') -%> 



      <% if(title == 'Buisness List') { %>
        <%- include('./content/buisness-list.ejs') -%> 
      <% } else if(title == 'Add Buisness') { %>
        <%- include('./content/add-buisness.ejs') -%> 
      <% } else if(title == 'Edit Buisness') { %>
        <%- include('./content/edit-buisness.ejs') -%> 
      <% } %>

    </div>
</div>
<%- include('./partials/footer.ejs') -%>
    

    